.ant-time-picker {
  height: 48px;
}

.ant-time-picker .ant-time-picker-input {
  height: 100%;
  border-radius: 3px;
}

.ant-time-picker .ant-time-picker-input:hover {
  border-color: #647283;
}

.ant-time-picker-error .ant-time-picker .ant-time-picker-input,
.ant-time-picker-error .ant-time-picker .ant-time-picker-input:hover {
  border-color: #dc3545;
}

.ant-time-picker-panel-inner {
  top: 2px;
  left: 0;
  border-radius: 3px;
}

.ant-time-picker-panel-input-wrap {
  height: 48px;
}

.ant-time-picker-panel-input {
  margin-top: 7px;
}

.ant-time-picker-panel-clear-btn {
  margin-top: 6px;
}

.ant-time-picker-panel-select {
  width: 88px;
}

.ant-time-picker-panel-select ul > li {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
