@import "../styles/utils.scss";

.questionWrapper {
  position: relative;
  width: 100%;

  .header {
    display: flex;
  }
}

.tileWrapper {
  margin: 15px;
  max-height: unset;
}

.tileGroupWrapper {
  margin: -15px;
}

.errorMsg {
  margin: $space-3 0;
}
