@import "../styles/utils.scss";

.questionWrapper {
  position: relative;
  width: 100%;
}

.tileWrapper {
  margin: 15px;
  max-height: 161px;
}

.tileGroupWrapper {
  margin: -15px;
}

.errorMsg {
  margin: $space-3 0;
}
