@import "~@libui/components/styles/utils";

$input-hover-border: solid 1px $text-color;
$input-focus-border: solid 1px $lavender-indigo;

.rootContainer {
  position: relative;

  .inline {
    display: flex;
    align-items: center;
  }

  .field {
    border-radius: 3px;
    border: solid 1px $ui-color-2;
    background-color: $primary-color-2;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-family: HK Nova, sans-serif;
    color: $text-color-2;
  }

  .errorField {
    border-color: $support-red;
  }

  .errorIcon {
    position: absolute;
    right: $small;
    color: $support-red;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input:not(:placeholder-shown) {
    border-color: $field-color-2;
  }

  input:hover {
    border: $input-hover-border;
  }

  input:focus {
    border: $input-focus-border;
  }

  input:disabled {
    background-color: $ui-color-1;
    border: solid 1px $ui-color-2;
    color: $text-color;
  }

  .error {
    border-color: $support-red !important;
  }

  .label {
    font-size: $medium;
    font-weight: $weight-medium;
    line-height: $line-height-large;
    margin-bottom: $space-0;
    display: flex;
    align-items: center;
    color: $text-color-2;
  }

  .labelIcon {
    margin-left: $space-0;
    cursor: pointer;
    color: $text-color;
  }

  .tooltipWrapper {
    position: relative;
    top: $space-0;
  }

  .openTooltip {
    color: $lavender-indigo;
  }

  .hideMsg {
    display: none;
  }

  .footerSection {
    margin-top: $space-1;
    display: flex;
    justify-content: space-between;
  }

  .helperMsg {
    color: $text-color-2;
    font-size: $small;
    font-weight: $weight-regular;
    line-height: $line-height-medium;
  }

  .redMsg {
    color: $support-red;
    font-size: $small;
    font-weight: $weight-regular;
    line-height: $line-height-medium;
  }

  .countMsg {
    font-size: $small;
    font-weight: $weight-regular;
    line-height: $line-height-medium;
  }

  .suffix {
    font-size: $medium;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height-large;
    letter-spacing: normal;
    color: $text-color;
    position: absolute;
    right: $small;
  }

  &.validationError {
    .countMsg {
      color: $support-red;
    }
  }

  &.disabled {
    .helperMsg,
    .countMsg {
      color: $ui-color-4;
    }
  }
}

.small {
  width: 95%;
  padding: 5px 3%;
  height: 22px;
  font-size: $small;
  min-width: 90px;
}

.medium {
  width: 95%;
  padding: $space-1 0 $space-1 $x-small;
  height: $space-3;
  font-size: $medium;

  @include for-phone-only {
    height: $space-4;
    font-size: $large;
  }
}

.large {
  width: 90%;
  padding: $space-1 $space-2;
  height: $space-6;
  font-size: $large;
  min-width: 90px;
}
