@import "~@libui/components/styles/utils";

.wrapper {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 100%;
}

.mainContent {
  width: 100%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.03), 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

@include for-phone-only {
  .sidebar {
    display: none;
  }
}
