@import "../styles/utils";

.button {
  outline: none;
  border-radius: 3px;
  font-weight: $weight-semibold;
  font-family: $font-family;
  white-space: nowrap;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  border: none;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;

  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }

    to {
      transform: rotateZ(360deg);
    }
  }

  .loading {
    animation: rotate 2s linear infinite;
  }

  .leftIcon {
    margin-right: $space-2;
  }

  .rightIcon {
    margin-left: $space-2;
  }
}

.simple {
  color: $primary-color;
  background-color: $primary-color-2;
}

.primary {
  color: $primary-color-2;
  background-color: $primary-color;

  &:focus {
    background-color: $secondary-color-8;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

.secondary {
  color: $primary-color;
  background-color: $secondary-color-6;
  border: solid 1px $secondary-color-7;

  &:focus {
    border-color: $field-color-3;
  }

  &:hover {
    background-color: $text-color-4;
  }
}

.ghost {
  color: $primary-color;
  background-color: $primary-color-2;
  border: solid 1px $primary-color;

  &:focus {
    background-color: $primary-color-2;
  }

  &:hover {
    color: $primary-color-2;
    background-color: $primary-color;
  }
}

.orange {
  color: white;
  background-color: $vivid-orange;
  border: solid 1px $vivid-orange;

  &:focus {
    background-color: $deep-orange;
  }

  &:hover {
    background-color: $light-orange;
  }
}

.green {
  color: white;
  background-color: $support-green;
  border: solid 1px $support-green;

  &:hover {
    background-color: $support-green-hover;
    border: solid 1px $support-green-hover;
  }

  &:focus {
    background-color: $support-green-focus;
    border: solid 1px $support-green-focus;
  }
}

.outline {
  color: $primary-color-2;
  background-color: transparent;
  border: solid 1px $primary-color-2;

  &:focus {
    border: none;
    color: $indigo;
    background-color: $primary-color-2;
  }

  &:hover {
    border: none;
    color: $lavender-indigo;
    background-color: $primary-color-2;
  }

  .loading {
    color: $indigo;
  }
}

.disabledOutline {
  color: $primary-color-2;
}

.grey {
  color: $text-color;
  background-color: $primary-color-2;
  border: 1px solid $ui-color-2;

  &:hover {
    border: 1px solid $lavender-indigo;
    position: relative;
    z-index: 99;
  }
}

.disabledGrey {
  color: $porcelain;
  border: 1px solid $porcelain;
  background-color: $primary-color-2;
}

.darkGrey {
  color: $text-color;
  background-color: $primary-color-2;
  border: 1px solid $ui-color-2;

  &:hover {
    border: 1px solid $lavender-indigo;
    z-index: 99;
  }
}

.disabledDarkGrey {
  color: $text-color-5;
  border: 1px solid $ui-color-2;
  background-color: $primary-color-2;
}

.disabled {
  color: $primary-color-2;
  background-color: $ui-color-2;
}

.small {
  height: 32px;
  font-size: $small;
  min-width: 90px;
  padding: 0 $space-2;

  @include for-phone-only {
    min-width: 70px;
  }
}

.square {
  height: 48px;
  font-size: $small;
  min-width: 48px;
}

.smallsquare {
  height: 40px;
  font-size: $small;
  min-width: 40px;
}

.medium {
  height: 40px;
  font-size: $medium;
  min-width: 110px;
  padding: 0 20px;

  @include for-phone-only {
    height: 48px;
    font-size: $large;
  }
}

.large {
  height: 48px;
  font-size: $large;
  min-width: 140px;
  padding: 0 $space-3;
}
