@import "../styles/utils";

.rootWrapper {
  // Why use 'table' here?: To make the component width fit-to-content,
  // don't use inline-block, since it will add extra vertical margin.
  display: table;
}

.rootContainer {
  cursor: pointer;
  color: $indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $medium;
  font-weight: $weight-semibold;
  line-height: $line-height-large;

  .icon {
    margin-right: $space-1;
  }

  .label {
    white-space: pre;
  }

  &:hover {
    color: $lavender-indigo;
  }

  &.disabled {
    color: $field-color-2;
    cursor: default;
  }
}
