@import "../styles/utils.scss";

.headerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  display: flex;
  margin-top: $space-0;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  margin-top: $space-1;
  width: 100%;
  position: absolute;
}

.textarea {
  width: 100%;
  position: relative;

  .title {
    font-size: $medium;
    font-weight: $weight-medium;
    line-height: $line-height-large;
    color: $text-color-2;
  }

  .infoIcon {
    padding: 0;
    margin-left: $space-0;
    display: flex;
    color: $text-color-2;
    cursor: pointer;
  }

  .input {
    box-sizing: border-box;
    flex: 1;
    border-radius: $border-radius-3;
    border: solid 1px $ui-color-2;
    padding: $medium $space-2;
    font-size: $medium;
    font-weight: $weight-regular;
    line-height: $line-height-large;
    color: $text-color;
    min-height: $space-10;

    &::placeholder {
      color: $text-color;
    }

    &:not([value=""]) {
      border-color: $field-color-2;
    }

    &:hover {
      border: solid 1px $text-color;
    }

    &:focus {
      outline: none;
      border: solid 1px $lavender-indigo;
      color: $text-color-2;
    }
  }

  .helperMsg {
    word-break: break-word;
    margin-right: $space-0;
    line-height: $line-height-medium;
    font-size: $small;
    color: $text-color-2;
  }

  .countMsg {
    line-height: $line-height-medium;
    font-size: $small;
    color: $text-color-2;
  }

  &.validation {
    .title {
      color: $text-color-2;
    }

    .input {
      border: solid 1px $support-red;

      &:hover {
        border: solid 1px $support-red;
      }
    }

    .helperMsg {
      color: $support-red;
    }

    .countMsg {
      color: $support-red;
    }
  }

  /* stylelint-disable */
  // disable css block here, because lint requires the `.disabled input:hover` to be placed before
  // `.validation input`, which will make this css file not very easy to understand/maintain.
  &.disabled {
    .input {
      background-color: $field-color-1;
      border: solid 1px $ui-color-2;
      cursor: not-allowed;

      &:hover {
        border: solid 1px $ui-color-2;
      }
    }

    .helperMsg {
      color: $ui-color-4;
    }

    .countMsg {
      color: $ui-color-4;
    }

    .infoIcon {
      color: $ui-color-4;
      cursor: default;
    }
  }
  /* stylelint-enable */
}
