@import "../styles/utils.scss";

.tileGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @include for-desktop-up {
    flex: 1;
  }

  @include for-phone-only {
    margin: 0 -7.5px;
  }
}
