@import "../styles/utils.scss";

.tab {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.tabsBarContainer {
  border-bottom: 1px solid $ui-color-2;
}

.tabsBarContent {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 0 $space-specific-150;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;

  @include for-phone-only {
    padding: 0 $space-specific-30;
    flex-direction: column;
    justify-content: center;
  }
}

.tab {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;

  .tabsBarContainer {
    border-bottom: 1px solid $ui-color-2;
  }

  .leftComponent {
    height: $display-x-large;
    display: flex;
    align-items: center;

    @include for-phone-only {
      justify-content: center;
    }
  }

  .tabItems {
    height: $display-x-large;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;

    @include for-phone-only {
      justify-content: center;
      padding-right: 0 !important;

      .spaceItem {
        width: 0;
      }
    }

    .item {
      height: 100%;
      max-width: 100px;
      color: $text-color-2;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      align-items: center;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: $space-5;
      box-sizing: border-box;
      border-bottom: 2px solid transparent;

      &:nth-child(1) {
        // the first child have no margin-left child.
        margin-left: 0;
      }

      label {
        width: 100%;
        cursor: pointer;
        font-size: $medium;
        font-weight: $weight-semibold;
        line-height: $line-height-large;
      }
    }

    .item:hover {
      color: $lavender-indigo;
      overflow: visible;
    }

    .activeItem {
      color: $indigo;
      cursor: default;
      border-bottom: 2px solid $indigo;

      label {
        cursor: default;
      }

      &:hover {
        color: $indigo;
      }
    }
  }
}

.tabPanel {
  display: flex;
  flex: 1 1 auto;
}
