@import "../styles/utils.scss";

.dropdownIcon {
  width: $display-medium; /* Fix for IE11, Safari icon not showing */
  transform: rotate(180deg);
}

.dropdownIconCollapsed {
  width: $display-medium; /* Fix for IE11, Safari icon not showing */
}

.rootContainer {
  margin-top: $space-8;
}

.collapsible .headerSection {
  padding-bottom: $space-2;
  border-bottom: 1px solid $ui-color-2;
}

.zero {
  .headerSection {
    margin-bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
}

.normal {
  .headerSection {
    margin-bottom: $space-3;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: $x-large;
  font-weight: $weight-semibold;
  line-height: $line-height-medium;
  color: $black;
}

.optional {
  font-family: $font-family;
  font-size: $medium;
  font-weight: $weight-regular;
  line-height: $line-height-medium;
  color: $text-color-2;
  margin-left: $space-1;
}

.subTitle {
  font-size: $medium;
  font-weight: $weight-regular;
  line-height: $line-height-large;
  color: $text-color-2;
  margin-top: $space-1;
}

.helpIcon {
  color: $text-color;
}

.tooltip {
  display: inline-block;
  margin-left: $space-0;
}

.warningMessageChildren {
  display: flex;
  word-break: break-word;
  margin-right: $space-0;
  line-height: $line-height-medium;
  font-size: $small;
  color: $vivid-orange;

  p {
    margin-left: $space-0;
  }
}

.iconContainer {
  font-size: 0;
  margin-left: $space-1;

  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }

    to {
      transform: rotateZ(360deg);
    }
  }

  .loading {
    animation: rotate 2s linear infinite;
  }
}
