@import "../styles/utils.scss";

.dropdownIcon {
  width: 32px; /* Fix for IE11, Safari icon not showing */
  transform: rotate(180deg);
}

.dropdownIconCollapsed {
  width: 32px; /* Fix for IE11, Safari icon not showing */
}

.rootContainer {
  margin-top: $space-8;
}

.collapsable .headerSection {
  padding-bottom: 16px;
  border-bottom: 1px solid $ui-color-2;
}

.zero {
  .headerSection {
    margin-bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
}

.normal {
  .headerSection {
    margin-bottom: $space-3;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
}

.title {
  font-size: $x-large;
  font-weight: $weight-semibold;
  line-height: $line-height-medium;
  color: $black;
}

.optional {
  font-family: $font-family;
  font-size: $medium;
  font-weight: $weight-regular;
  line-height: $line-height-medium;
  color: $text-color-2;
  margin-left: $space-1;
}

.subTitle {
  font-size: $medium;
  font-weight: $weight-regular;
  line-height: $line-height-large;
  color: $text-color-2;
  margin-top: $space-1;
}
