@import "../styles/utils.scss";

.wrapper {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  width: 100%;
  align-items: center;

  .searchSection {
    width: 100%;
    height: $space-6;

    .searchTypeDropdown {
      float: left;
      width: 20%;
      height: $space-6;
      border-radius: 5px 0px 0px 5px;
      border-right: 0px;
      &:hover {
        border: 1px solid $black;
      }
    }

    .searchTextInputWrapper {
      display: inline-block;
      width: calc(80% - 197px); //165 + 32 from space-4
      margin-right: $space-4;
      border: 0px;

      .iconSignifier {
        color: $text-color;
      }
    }

    .searchButton {
      width: 165px;
      height: $space-6;
    }
  }
}
