@import "../styles/utils";

.datePicker {
  position: relative;
  height: 100%;
}

.customInput {
  display: flex;
  align-items: center;
  min-width: 160px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  font-size: $medium;
  border-radius: $border-radius-3;
  border: solid 1px $ui-color-2;
  background-color: $field-color;
  color: $text-color-2;
  position: relative;
  padding: 0 $space-2;
  box-sizing: border-box;
  outline: none;
  font-weight: $weight-regular;

  .calendarIcon {
    position: absolute;
    right: 13px;
  }
}

.selected {
  border: $lavender-indigo 1px solid;

  .calendarIcon {
    color: $lavender-indigo !important;
  }
}

.customInput .calendarIcon:hover {
  color: $lavender-indigo;
}

.placeholderColor {
  color: $text-color-7;
}

.errorInput {
  border-color: $support-red;
}

.errorMsg {
  margin-top: $space-1;
  color: $support-red;
  font-size: $small;
  font-weight: $weight-regular;
}
