@import "~@libui/components/styles/utils";

.wrapper {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  max-width: 300px;
  min-width: 260px;
  background: $primary-color-2;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.03), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: $z-index-1;
}

.mainContent {
  overflow-x: hidden;
  width: 100%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.03), 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

@include for-phone-only {
  .sidebar {
    display: none;
  }
}
