@import "../styles/utils.scss";

.appAlert {
  display: flex;
  padding: 14px $space-3;

  &.left {
    padding-left: $space-specific-150;
  }

  &.center {
    justify-content: center;
  }

  &.error {
    background-color: $support-red;
  }

  &.informational {
    background-color: $indigo;
  }

  &.warning {
    background-color: $vivid-orange;
  }

  .appAlertIcon {
    color: $primary-color-2;
    min-width: 20px;
  }

  .appAlertText {
    padding-left: 18px;
    font-size: $medium;
    font-weight: $weight-medium;
    line-height: $line-height-large;
    color: $primary-color-2;
  }
}
