@import "../styles/utils.scss";

.error {
  background-color: $support-red;
}

.informational {
  background-color: $indigo;
}

.warning {
  background-color: $vivid-orange;
}

.appAlert {
  display: flex;
  box-sizing: border-box;
  padding: 14px $space-3;

  &.left {
    padding-left: $space-specific-150;
    margin: 0 auto;
    max-width: 1440px;
  }

  &.center {
    justify-content: center;
  }

  .appAlertIcon {
    color: $primary-color-2;
    min-width: 20px;
  }

  .appAlertText {
    padding-left: 18px;
    font-size: $medium;
    font-weight: $weight-medium;
    line-height: $line-height-large;
    color: $primary-color-2;
  }
}
