@import "../styles/utils.scss";

.error {
  background-color: $support-red;
}

.informational {
  background-color: $indigo;
}

.warning {
  background-color: $vivid-orange;
}

.appAlert {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12px $space-3;

  &.left {
    padding-left: $space-specific-150;
    margin: 0 auto;
    max-width: 1440px;

    @include for-phone-only {
      padding: 12px $space-3;
    }
  }

  &.center {
    justify-content: center;
  }

  &.justify {
    justify-content: center;
    text-align: justify;
  }

  .appAlertIcon {
    align-self: stretch;
    color: $primary-color-2;
    min-width: 24px;
  }

  .appAlertText {
    padding-left: $space-2;
    font-size: $medium;
    font-weight: $weight-medium;
    line-height: $line-height-large;
    color: $primary-color-2;

    .appAlertTextBold {
      font-weight: $weight-bold;
    }
  }
}
