@import "~@libui/components/styles/utils";

.tooltipsContainer {
  .childrenContainer {
    background: $text-color-2;
    border-radius: 5px;
    min-height: $space-6;
    max-height: 128px;
    min-width: 96px;
    max-width: 256px;
    height: 100%;
    width: 100%;
    color: $field-color-2;
    padding: $space-2 12px;
    box-sizing: border-box;
  }

  .linkContainer {
    margin-top: $space-2;

    a {
      color: $primary-color-2;
      font-weight: $weight-semibold;
    }
  }

  .withLabelChildren {
    min-height: $space-10;
  }
}
