@import "../../components/styles/utils.scss";

.iconWrapper {
  display: flex;
  align-items: center;
  margin: 16px;
}

.icon {
  margin-right: 8px;
}

.header {
  margin: 16px;
}

.dualColorTheme {
  --color1: #161a1d;
  --color2: url(#bakery_a);
}
