@import "../../components/styles/utils.scss";

.iconWrapper {
  display: flex;
  align-items: center;
  margin: $space-2;
}

.icon {
  margin-right: $space-1;
}

.header {
  margin: $space-2;
}

.shopTypeIconsNote {
  color: $ui-color-5;
  line-height: $line-height-large;
  margin: $space-2;
}

table,
th,
td {
  border: 1px solid $ui-color-5;
  border-collapse: collapse;
}

.foodShopIconsTable {
  margin: $space-2;
  width: 500px;
  text-align: center;

  .dualColorTheme {
    --color1: red;
    --color2: green;
  }
}
