@import "../styles/utils.scss";

.expandablePanel {
  padding-top: $xx-large;
}

.panelHeader {
  line-height: $line-height-medium;
  color: $primary-color-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .panelTitle {
    color: $ui-color-4;
  }

  .collapseIcon {
    color: $text-color;
    margin-left: $space-1;
  }

  .subTitle {
    display: flex;
    align-items: center;
    font-weight: $weight-semibold;

    &:hover {
      color: $lavender-indigo;
      cursor: pointer;

      .collapseIcon {
        color: $lavender-indigo;
      }
    }
  }
}

.panelContent {
  font-weight: $weight-regular;
  line-height: $line-height-large;
}

.standard {
  .panelHeader {
    font-size: $small;
  }

  .panelContent {
    padding-bottom: $space-1;
    font-size: $medium;
  }
}

.large {
  .panelHeader {
    font-size: $xx-large;
  }

  .panelContent {
    padding-top: $space-3;
    font-size: $large;
  }
}
