@import "../styles/utils.scss";

.panelHeader {
  line-height: $line-height-medium;
  color: $primary-color-1;
  font-weight: $weight-semibold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .subTitle {
    display: flex;
    align-items: center;
  }

  .collapseIcon {
    color: $text-color;
    margin-left: $space-1;
  }

  &:hover {
    color: $lavender-indigo;
    cursor: pointer;

    .collapseIcon {
      color: $lavender-indigo;
    }
  }
}

.panelContent {
  font-weight: $weight-regular;
  line-height: $line-height-large;
}

.normal {
  width: 370px;

  @include for-phone-only {
    width: 100%;
  }
}

.fullText {
  width: 100%;
}

.standard {
  .panelHeader {
    font-size: $small;
  }

  .panelContent {
    padding-bottom: $space-1;
    font-size: $medium;
  }
}

.large {
  .panelHeader {
    font-size: $xx-large;
  }

  .panelContent {
    padding-top: $space-3;
    font-size: $large;
  }
}
