@import "../styles/utils";

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: $z-index-9;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  .footer {
    z-index: $z-index-9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
    height: 88px;
    background: $ui-color;
    position: absolute;
    bottom: 0;
    left: 0;

    @include for-phone-only {
      height: 72px;
    }
  }

  .modalContent {
    z-index: $z-index-9;
    position: absolute;
    background: white;
    width: 720px;
    max-width: 100vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 5px;

    .close {
      font-size: $xx-large;
      position: absolute;
      top: $space-2;
      right: $space-2;
      color: $ui-color-4;
      cursor: pointer;
    }

    //class name here is
    // for management class
    .flexEnd {
      @extend %flex-end;
    }

    .flexStart {
      @extend %flex-start;
    }

    .flexBetween {
      @extend %flex-between;
    }

    @include for-phone-only {
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      border-radius: 0;
    }

    .content {
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;

      @extend %flex-center;

      @include for-phone-only {
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.modal.largeTheme {
  .modalContent {
    max-width: 980px;
    min-height: 600px;
    width: auto;
    transform: translate(-50%, 0);
    top: $space-5;
    margin-bottom: $space-5;

    @include for-phone-only {
      top: 0;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      overflow-y: auto;
    }

    .content {
      @include for-phone-only {
        position: relative;
        transform: none;
        top: auto;
        left: auto;
      }
    }
  }
}

.modal.fullTheme {
  .modalContent {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $ui-color-1;
    border-radius: 0;
    overflow-y: auto;
    transform: translate(-50%, -50%);

    @include for-phone-only {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 0;
      background: $ui-color-1;
      border-radius: 0;
      transform: translate(-50%, -50%);
    }

    .content {
      @extend %flex-center;

      margin: $space-10 auto;
      padding-bottom: 88px;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      width: 750px;

      @include for-phone-only {
        padding-bottom: $space-9;
        position: relative;
        transform: none;
        top: auto;
        left: auto;
      }
    }
  }
}

.block {
  display: block;
}

.none {
  display: none;
}
