@font-face {
  font-family: "HK Nova";
  src: url("../fonts/WEB/HKNova-Light.eot");
  src:
    url("../fonts/WEB/HKNova-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WEB/HKNova-Light.woff") format("woff"),
    url("../fonts/WEB/HKNova-Light.woff2") format("woff2"),
    url("../fonts/TTF/HKNova-Light.ttf") format("truetype"),
    url("../fonts/OTF/HKNova-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "HK Nova";
  src: url("../fonts/WEB/HKNova-Regular.eot");
  src:
    url("../fonts/WEB/HKNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WEB/HKNova-Regular.woff") format("woff"),
    url("../fonts/WEB/HKNova-Regular.woff2") format("woff2"),
    url("../fonts/TTF/HKNova-Regular.ttf") format("truetype"),
    url("../fonts/OTF/HKNova-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "HK Nova";
  src: url("../fonts/WEB/HKNova-Medium.eot");
  src:
    url("../fonts/WEB/HKNova-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WEB/HKNova-Medium.woff") format("woff"),
    url("../fonts/WEB/HKNova-Medium.woff2") format("woff2"),
    url("../fonts/TTF/HKNova-Medium.ttf") format("truetype"),
    url("../fonts/OTF/HKNova-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "HK Nova";
  src: url("../fonts/WEB/HKNova-SemiBold.eot");
  src:
    url("../fonts/WEB/HKNova-SemiBold.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/WEB/HKNova-SemiBold.woff") format("woff"),
    url("../fonts/WEB/HKNova-SemiBold.woff2") format("woff2"),
    url("../fonts/TTF/HKNova-SemiBold.ttf") format("truetype"),
    url("../fonts/OTF/HKNova-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "HK Nova";
  src: url("../fonts/WEB/HKNova-Bold.eot");
  src:
    url("../fonts/WEB/HKNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WEB/HKNova-Bold.woff") format("woff"),
    url("../fonts/WEB/HKNova-Bold.woff2") format("woff2"),
    url("../fonts/TTF/HKNova-Bold.ttf") format("truetype"),
    url("../fonts/OTF/HKNova-Bold.otf") format("opentype");
  font-weight: 700;
}
