@mixin for-phone-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 600px) and (max-width: 1140px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1140px) {
    @content;
  }
}

%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

%equal-widths {
  display: flex;
  flex-direction: column;
}

%flex-end {
  justify-content: flex-end;
}

%flex-start {
  justify-content: flex-start;
}

%flex-between {
  justify-content: space-between;
}

%flex-center {
  justify-content: center;
}

@mixin col($i) {
  width: percentage($i/12);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.row {
  width: 100%;

  @extend %equal-heights;

  @for $i from 1 through 12 {
    .col#{$i} {
      @include col($i);
    }
  }

  @include for-phone-only {
    @for $i from 1 through 12 {
      .smallcol#{$i} {
        @include col($i);
      }
    }
  }
}
