/* Colors */
$indigo: #408;
$black: #161a1d;
$lavender-indigo: #95e;
$electric-indigo: #60f;
$persian-indigo: #317;
$golden-yellow: #ffd700;
$vivid-orange: #f47f1f;
$light-orange: #f58b35;
$deep-orange: #db721b;
$teal: #03a895;
$gunmetal: #4a5561;
$selago: #eaddfb;
$selago-light: #f5eefd;
$perfume: #e0ccf9;
$zanah: #d4edd9;
$panache: #e9f6ec;
$light-blue: #e6f0fc;
$barley-white: #fff2cd;
$salomie: #ffe083;
$marigold: #ffc107;
$porcelain: #eef0f2;

// primary palette
$primary-color: $indigo;
$primary-color-1: $black;
$primary-color-2: white;

// secondary palette
$secondary-color: $lavender-indigo;
$secondary-color-1: $electric-indigo;
$secondary-color-2: $persian-indigo;
$secondary-color-3: $golden-yellow;
$secondary-color-4: $vivid-orange;
$secondary-color-5: $teal;

// TODO need confirm
$secondary-color-6: #ece6f3;
$secondary-color-7: #c7b3db;
$secondary-color-8: #317;

// text and background palette
$ui-color: white;
$ui-color-1: #f9fafa;
$ui-color-2: #dbdfe4;
$ui-color-3: #161a1d;
$ui-color-4: #9da9b7;
$ui-color-5: #7f8fa0;
$ui-color-6: #fbebec;
$ui-color-7: #fff8e6;
$ui-color-8: #fdf2e8;

$text-color: #647283;
$text-color-1: $gunmetal;
$text-color-2: #313840;
$text-color-3: #161a1d;
$text-color-4: #d9cce7;
$text-color-5: #9da9b7;
$text-color-6: #4a5561;
$text-color-7: #647284;
$text-color-8: #aa5815;
$text-color-9: #b6b6b6;

// form field palette
$field-color: white;
$field-color-1: #f9fafa;
$field-color-2: #bcc4cd;
$field-color-3: #b499cf;

// support palette
$support-red: #dc3545;
$support-red-20: #f8d6d9;
$support-red-70: #e6717d;
$support-green: #28a745;
$support-green-hover: #3daf57;
$support-green-focus: #23953d;
$support-green-20:$zanah;
$support-green-70: #68c17d;
$support-yellow: #ffc107;
$support-yellow-20: $barley-white;
$support-yellow-70: #ffd351;
$support-blue: #096ee3;
$lavender-indigo-20:$selago;

// font
$font-family: HK Nova, sans-serif;

// font size (component)
$x-small: 10px;
$small: 12px;
$medium: 14px;
$large: 16px;
$x-large: 20px;
$xx-large: 24px;
$xxx-large: 28px;

// font weight
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// display
$display-x-large: 64px;
$display-large: 48px;
$display-medium: 32px;

// spacing
$body-padding: 0 50px;
$molb-body-padding: 0 30px;
$molb-footer-height: 50px;

$space-specific-30: 30px;
$space-specific-40: 40px;
$space-specific-105: 105px;
$space-specific-135: 135px;
$space-specific-150: 150px;

$space-0: 4px;
$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$space-6: 48px;
$space-8: 64px;
$space-9: 72px;
$space-10: 80px;

// z-index
$z-index-1: 10;
$z-index-2: 100;
$z-index-3: 200;
$z-index-9: 999;
$z-index-10: 9999;

// colour gradient
$primary-gradient: linear-gradient(148deg, $primary-color, $secondary-color-1);

// line-height
$line-height-medium: 1.25;
$line-height-large: 1.5;

// border-radius
$border-radius-3: 3px;
$border-radius-5: 5px;
