@import "~@libui/components/styles/utils";

$basic-tile-height: 90px;
$basic-tile-width: 300px;

$small-tile-height: 146px;
$small-tile-width: 162px;
$small-tile-height-mobile: 146px;
$small-tile-width-mobile: 150px;

$medium-tile-height-max: 161px;
$medium-tile-width-max: 300px;
$medium-tile-width-min: 290px;
$medium-tile-height-mobile: 160px;
$medium-tile-width-mobile: 100%;

$large-tile-height: 246px;
$large-tile-width: 290px;
$large-tile-height-mobile: 246px;
$large-tile-width-mobile: 100%;

.tileWrapper {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.03), 0 7px 25px 0 rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(0, 0, 0, 0.03);
}

.tileContent {
  flex-grow: 1;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: $ui-color;
  padding: $space-3;
  color: $text-color-2;

  span {
    div {
      color: $ui-color;
    }
  }

  .itemsContent {
    display: flex;
    flex-direction: column;

    .tileIcon {
      margin: $space-1;
    }

    .tileHeader {
      margin-top: $space-1;
      font-size: $medium;
      font-weight: $weight-semibold;
      line-height: $line-height-large;
      word-break: break-word;
    }

    .tileDescription {
      font-size: $medium;
      margin-top: $space-1;
      line-height: $line-height-large;
      color: $text-color;
    }
  }

  &:hover {
    background-color: $ui-color;
    box-shadow: 0 0 0 1px $lavender-indigo;
  }

  &.tileContentChecked {
    box-shadow: 0 0 0 2px $indigo;
    color: $indigo;

    span {
      div {
        color: $lavender-indigo;
      }
    }

    &:hover {
      color: $indigo;
    }
  }

  &.tileContentDisabled {
    color: $text-color-5;

    .tileIcon {
      color: $ui-color-4;
    }

    .tileDescription {
      color: $ui-color-4;
    }

    span {
      div {
        color: $ui-color-4;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.tileContentChecked.tileContentDisabled {
    box-shadow: 0 0 0 2px $text-color;

    &:hover {
      color: $text-color-5;
    }

    span {
      div {
        color: $text-color-5;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  .checkBoxIcon {
    height: 20px;
    width: 20px;
    background-color: $ui-color;
    display: inline-block;
    position: absolute;
    top: $space-2;
    right: $space-2;
  }
}

.largeTile {
  height: $large-tile-height;
  width: $large-tile-width;

  @include for-phone-only {
    height: $large-tile-height-mobile;
    width: $large-tile-width-mobile;
  }

  .tileContent {
    .tileHeader {
      margin-top: $space-2;
    }
  }

  text-align: left;
}

.mediumTile {
  max-height: $medium-tile-height-max;
  min-width: $medium-tile-width-min;
  max-width: $medium-tile-width-max;

  @include for-phone-only {
    height: $medium-tile-height-mobile;
    width: $medium-tile-width-mobile;
  }

  .tileContent {
    .tileHeader {
      margin-top: 0;
    }
  }

  text-align: left;
}

.smallTile {
  height: $small-tile-height;
  width: $small-tile-width;

  @include for-phone-only {
    height: $small-tile-height-mobile;
    width: $small-tile-width-mobile;
  }

  .tileContent {
    padding: $space-2;
  }

  .itemsContent {
    align-items: center;
    text-align: center;
  }
}

.basicTile {
  min-height: $basic-tile-height;
  min-width: $basic-tile-width;

  @include for-phone-only {
    width: $basic-tile-height;
  }

  .tileContent {
    width: 294px;
    padding: $space-2;

    .tileDescription {
      margin-right: 38px;
    }
  }

  .itemsContent {
    text-align: left;
  }
}

.imgWrapper {
  width: 32px;
  height: 24px;
  border-radius: 3px;
  margin-bottom: $space-1;
}
