@import "../styles/utils.scss";

$header-height: 80px;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $header-height;
  padding: $body-padding;
  line-height: 1;
  vertical-align: middle;
  justify-content: space-between;

  @include for-phone-only {
    padding: $molb-body-padding;
  }

  .childLeft {
    flex-direction: row-reverse;
  }
}

.forRfa {
  background-color: $ui-color;
}

.forStoryBookDemo {
  background-color: $ui-color-7;
  border: 1px solid $ui-color-2;
}
