@import "~@libui/components/styles/utils";

.notice {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 $space-8 82px $space-8;

  @include for-phone-only {
    padding: $molb-body-padding;
  }

  header {
    font-size: $xx-large;
    font-weight: $weight-semibold;
    line-height: $line-height-medium;
    color: $text-color-2;
    margin-bottom: $space-1;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: $large;
    color: $text-color-1;
    line-height: $line-height-large;
  }

  .modalFooter {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    width: 100%;
    max-width: 460px;

    @include for-phone-only {
      display: block;
    }

    .modalButton {
      width: 200px;
      height: 46px;
      font-size: $large;
      font-weight: $weight-semibold;
      margin: 0 12px;

      @include for-phone-only {
        margin: 6px 0;
        width: 100%;
      }
    }
  }

  .twoBtnFooter {
    justify-content: space-around;
  }
}
