@import "../styles/utils.scss";
$checkbox-size: 24px;
$checkbox-inner-tick-width: $checkbox-size / 14 * 4;
$checkbox-inner-tick-height: $checkbox-size / 14 * 7;
$position-left: ($checkbox-size - $checkbox-inner-tick-width) / 2;
$position-top: ($checkbox-size - $checkbox-inner-tick-height) / 2 - 1.5 * ($checkbox-size / 14);

.checkboxWrapper {
  display: flex;

  .checkbox {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: $checkbox-size;
    height: $checkbox-size;
  }

  .checkboxInput {
    appearance: none;
    width: $checkbox-size;
    height: $checkbox-size;
    margin: 0;
    border-radius: 3px;
    position: absolute;
    outline: none;
    background-color: $ui-color;
  }

  .inner {
    display: none;
    width: $checkbox-size;
    height: $checkbox-size;
    left: 0;
    top: 0;
    border-radius: 3px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid $ui-color;
      border-right: 2px solid $ui-color;
      width: $checkbox-inner-tick-width;
      height: $checkbox-inner-tick-height;
      left: $position-left;
      top: $position-top;
      transform: rotate(45deg);
      box-sizing: border-box;
    }
  }

  .checkboxInput:checked {
    opacity: 0;
    z-index: 1;
  }

  .checkboxInput:checked + .inner {
    display: inline-block;
  }

  .checkboxInput:disabled {
    border-color: $ui-color-2;
    background-color: $ui-color-1;
  }

  .checkboxInput:disabled + .inner {
    background-color: $ui-color-4;
  }

  .checkboxInput:disabled:checked + .inner {
    display: inline-block;
    background-color: $ui-color-4;
  }

  .clickableElement {
    display: flex;
    font-size: $medium;
    line-height: $space-3;
    padding-left: $space-2;
    color: $text-color-2;
    font-weight: $weight-regular;
    cursor: default;
  }

  .orange {
    background: $vivid-orange;
  }

  .purple {
    background: $lavender-indigo;
  }

  .orangeCheckBox {
    border: $vivid-orange solid 1px;

    &:hover {
      border-color: $vivid-orange;
    }
  }

  .purpleCheckBox {
    border: $ui-color-2 solid 1px;

    &:hover {
      border-color: $lavender-indigo;
    }
  }
}

.addonBelow {
  margin-top: $space-1;
  font-size: $small;
  font-weight: $weight-regular;
  position: absolute;
}