@import "../styles/utils.scss";

.inlineNotification {
  display: flex;
  align-items: center;
  border-radius: 5px;
  min-height: 55px;

  &.success {
    background-color: $panache;
    border: 1px solid $support-green-20;
    color: $support-green;
  }

  &.error {
    background-color: $ui-color-6;
    border: 1px solid $support-red-20;
    color: $support-red;
  }

  &.informational {
    background-color: $selago-light;
    border: 1px solid $lavender-indigo-20;
    color: $indigo;
  }

  &.warning {
    background-color: $ui-color-7;
    border: 1px solid $support-yellow-20;
    color: $support-yellow;
  }

  .inlineNotificationIcon {
    margin: $space-2 0 $space-2 $space-2;
    align-self: stretch;
  }

  .inlineNotificationHeader {
    font-size: $medium;
    font-weight: $weight-semibold;
    line-height: $line-height-large;
    padding-bottom: $space-0;
    display: flex;
    align-items: center;

    &.informational {
      color: $indigo;
    }

    &.success {
      color: $support-green;
    }

    &.warning {
      color: $support-yellow;
    }

    &.error {
      color: $support-red;
    }
  }

  .content {
    padding: $space-2 $space-2 $space-2 $space-1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .inlineNotificationText {
      font-size: $small;
      font-weight: normal;
      line-height: $line-height-medium;
      color: $text-color-2;
    }
  }
}
