@import "../styles/utils.scss";

.headerSection {
  &.large {
    margin-bottom: $space-8;
  }

  &.reviewModel {
    margin-bottom: $space-3;
  }

  &.zero {
    margin-bottom: 0;
  }

  &.normal {
    margin-bottom: $space-3;
  }

  > h6 {
    margin-top: $space-1;
  }
}

.section:not(:first-child) {
  margin-top: $space-6;
  padding-top: $space-6;
  border-top: solid 1px $ui-color-2;
}

.section.reviewModel {
  padding: 48px 80px;
  background-color: $ui-color;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03);
}

.caption {
  color: $primary-color;
  font-size: $small;
  font-weight: bold;
  margin-bottom: $space-1;
}

.header {
  font-size: $xxx-large;
  font-weight: $weight-semibold;
  letter-spacing: normal;
  line-height: $line-height-medium;
  color: $text-color-3;
}

.subheader {
  font-size: $large;
  font-weight: normal;
  line-height: $line-height-large;
  letter-spacing: normal;
  color: $text-color-6;
}
