@import "../styles/utils.scss";

@mixin activeItem {
  .item {
    background-color: $field-color-1;
    color: $indigo;
  }
}

$indicator-border-color: rgba(219, 223, 228, 0.5);

.sidebar {
  ul {
    list-style: none;
    height: 100%;

    li {
      a:link {
        text-decoration: none;
      }
    }
  }

  .item {
    font-size: $medium;
    color: $text-color-2;
    display: flex;
    padding: 20px $space-4;

    &.clickable {
      cursor: pointer;
    }
  }

  .indicatorItem {
    border-bottom: 1px solid $indicator-border-color;
  }

  .menuItem:hover {
    background-color: $field-color-1;
    color: $indigo;
  }

  .activeItem {
    @include activeItem;

    position: relative;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: $lavender-indigo;
      top: 0;
    }
  }
}
