@import "../styles/utils.scss";

$indicator-border-color: rgba(219, 223, 228, 0.5);

.sidebar {
  ul {
    list-style: none;
    height: 100%;

    li {
      a:link {
        text-decoration: none;
      }
    }
  }

  .item {
    font-size: $medium;
    color: $text-color-2;
    display: flex;
    padding: 20px $space-4;

    &.clickable {
      cursor: pointer;
    }
  }

  .indicatorItem {
    border-bottom: 1px solid $indicator-border-color;
  }

  .menuItem.clickable:hover {
    background-color: $field-color-1;
    color: $indigo;
  }

  .activeItem {
    .item {
      background-color: $field-color-1;
      color: $indigo;
    }

    position: relative;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: $lavender-indigo;
      top: 0;
    }
  }

  .sectionHeader {
    font-weight: $weight-bold;
    text-transform: uppercase;
  }
}

.purple {
  .menuItem.clickable:hover {
    background-color: $field-color-1;
    color: $indigo;
  }

  .activeItem {
    .item {
      background-color: $field-color-1;
      color: $indigo;
    }

    position: relative;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: $lavender-indigo;
      top: 0;
    }
  }
}

.green {
  .menuItem.clickable:hover {
    background-color: #ecf5f5;
    color: $ga-teal;
  }

  .activeItem {
    .item {
      background-color: #ecf5f5;
      color: $ga-teal;
    }

    position: relative;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: $ga-teal;
      top: 0;
    }
  }
}

.blue {
  .menuItem.clickable:hover {
    background-color: $jss-thin-blue;
    color: $jss-dark-blue;
  }

  .activeItem {
    .item {
      background-color: $jss-thin-blue;
      color: $jss-dark-blue;
    }

    position: relative;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: $jss-medium-blue;
      top: 0;
    }
  }
}
