@import "../styles/utils.scss";

.section {
  margin-top: $space-8;
}

.nextButton {
  margin-left: auto;
}

.actionSectionRow {
  justify-content: space-between;
}

.onlyPrevious {
  justify-content: flex-start;
}

.onlyNext {
  justify-content: flex-end;
}
