.content {
  flex-wrap: wrap;
  flex-direction: row;
  margin: -24px -30px 0 0;
}

.uploadFile {
  overflow-x: hidden;
  flex-basis: 290px;
  width: 290px;
  margin: 24px 30px 0 0;
  position: relative;
}
