@import "~@libui/components/styles/utils";

@mixin responsible-for-table {
  tr td:not(:first-child),
  tr th:not(:first-child) {
    background-color: red;
    width: percentage(2/9);
  }

  tr td:first-child,
  tr th:first-child {
    background-color: green;
    width: percentage(3/9);
  }
}

.tableContainer {
  table {
    border-radius: 5px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.03), 0 7px 25px 0 rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(0, 0, 0, 0.03);
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      color: $text-color;
      text-transform: uppercase;
      font-size: $small;
      letter-spacing: normal;
    }

    tr td,
    tr th {
      padding: $space-4;
      text-align: left;
      width: percentage(3/12);
      // background-color:blue;
    }

    // TODO: for now, for the phone device should be other components,
    // to be fixed.
    @include for-tablet {
      @include responsible-for-table;
    }

    @include for-phone-only {
      @include responsible-for-table;
    }

    thead {
      background-color: $ui-color;
    }

    tbody {
      tr {
        height: $space-10;
        width: 100%;
        padding: $space-0;
      }

      tr:nth-child(2n+1) {
        background-color: $ui-color-1;
      }

      tr:nth-child(2n) {
        background-color: $ui-color;
      }
    }
  }
}
