@import "../styles/utils.scss";

.standard,
.large {
  border-bottom: 1px solid $ui-color-2;
}

.panelHeader {
  line-height: $line-height-medium;
  color: $primary-color-1;
  font-weight: $weight-semibold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .collapseIcon {
    color: $text-color;
  }

  &:hover {
    color: $lavender-indigo;
    cursor: pointer;

    .collapseIcon {
      color: $lavender-indigo;
    }
  }
}

.standard {
  .panelHeader {
    padding: $space-2 0;
    font-size: $x-large;
  }

  .panelContent {
    padding-bottom: $space-3;
  }
}

.large {
  .panelHeader {
    font-size: $xx-large;
    padding: $space-3 0;
  }

  .panelContent {
    padding-bottom: 30px;
  }
}

.wrapped {
  border: 1px solid $ui-color-2;
  border-radius: 5px;

  &:hover {
    background: $ui-color-1;
  }

  .panelHeader {
    font-size: $large;
    line-height: $line-height-large;
    padding: $space-2 $space-3;
  }

  .panelContent {
    padding: 0 $space-3 $space-2 $space-3;
  }
}

.wrappedFreeStyle {
  border: 1px solid $ui-color-2;
  border-radius: 5px;

  &:hover {
    background: $ui-color-1;
  }

  .panelHeader {
    font-size: $large;
    line-height: $line-height-large;
    padding: 0;
  }

  .panelContent {
    padding:0 ;
  }

  .subHeaderWithIcon {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }
}

.subHeader {
  font-size: $medium;
}

.subHeaderWithIcon {
  display: flex;
  align-items: center;
}

.colored {
  @extend .standard;

  padding: $space-5 0;

  @include for-phone-only {
    padding: $space-3 0;
  }

  .panelHeader {
    color: $indigo;

    @include for-phone-only {
      padding: 0;
    }

    .collapseIcon {
      color: $indigo;
      size: 25px;
    }
  }

  .subHeader {
    display: block;

    @include for-phone-only {
      display: none;
    }
  }

  border-top: 1px solid $ui-color-2;
  border-bottom: none;

  &:last-child {
    padding-bottom: 0;
  }
}
