@import "../../components/styles/utils.scss";

%spacer {
  margin-bottom: 1em;
  border: 1px solid $lavender-indigo;
  height: 110px;
  padding: 25px 0;
}

.demo {
  @extend %spacer;
}

.main {
  @extend %spacer;
}

.rfa {
  @extend %spacer;

  background-color: $ui-color-1;
}
