@import "../../components/styles/utils.scss";

%spacer {
  margin-bottom: 1em;
  border: 1px solid $lavender-indigo;
  height: 130px;

  display: flex;
  justify-content: stretch;
  padding: 25px 0;
}

.demo {
  @extend %spacer;
}

.main {
  @extend %spacer;
  background-color: $ui-color-1;
}

.rfa {
  @extend %spacer;
  background-color: $ui-color-1;
}