@import "../styles/utils.scss";

.checkboxWrapper {
  line-height: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin-left: $space-2;
}

.wrapper {
  display: flex;
}

.question {
  font-size: $large;
  line-height: $line-height-large;
  font-weight: $weight-semibold;
}

.label {
  display: inline;
}

.description {
  font-size: $medium;
  line-height: $line-height-large;
  color: $text-color;
  margin-top: $space-0;
  font-weight: $weight-regular;
}

.disabled {
  .question {
    color: $ui-color-4;
  }

  .description {
    color: $ui-color-4;
  }
}

.helpIcon {
  color: $text-color;
}

.tooltip {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  position: relative;
  top: -2px;
}
