@import "../styles/utils";

.link {
  font-weight: $weight-semibold;
  line-height: $line-height-large;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  svg {
    vertical-align: text-top;
  }
}

.disabled {
  a {
    color: $ui-color-2;
  }
}

.enable {
  a {
    color: $primary-color;
  }

  &:focus {
    a {
      text-decoration-line: underline;
    }
  }

  &:hover {
    a {
      color: $secondary-color;
      text-decoration-line: underline;
    }
  }
}

.icon {
  padding-left: $space-1;
}

.small {
  font-size: $small;
}

.medium {
  font-size: $medium;
}

.large {
  font-size: $large;
}

.warning {
  color: $support-yellow;

  &:hover {
    color: $support-yellow-70;
  }
}

.error {
  color: $support-red;

  &:hover {
    color: $support-red-70;
  }
}

.success {
  color: $support-green;

  &:hover {
    color: $support-green-70;
  }
}
