@import "../styles/utils";

.link {
  line-height: $line-height-large;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  svg {
    vertical-align: text-top;
  }
}

.disabled {
  a {
    color: $ui-color-2 !important;
  }
}

.enabled {
  &:focus {
    a {
      text-decoration-line: underline;
    }
  }

  &:hover {
    a {
      color: $secondary-color;
      text-decoration-line: underline;
    }
  }
}

.floating {
  /* stylelint-disable no-descending-specificity */
  a {
    color: $primary-color;
    font-weight: $weight-semibold;
  }
}

.inline {
  a {
    color: $secondary-color;
    font-weight: $weight-regular;
  }
}

.icon {
  padding-left: $space-1;
}

.small {
  font-size: $small;
}

.medium {
  font-size: $medium;
}

.large {
  font-size: $large;
}
