@import "../../components/styles/utils.scss";

.rootContainer {
  margin: 30px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  border: solid 0 #828282;
  display: flex;
  flex-direction: column;
  flex: 0 1;
  margin: 24px 24px 0 0;
}

.boxSmall {
  width: 320px;
}

.notes {
  color: #bcc4cd;
}

.content {
  background-color: lightsalmon;
}

.styles {
  margin: 36px;
}

.tileContainerStyle {
  margin: 12px 15px;
}
